beautifulsoup4==4.12.2
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
idna==3.6
markdown-it-py==3.0.0
mdurl==0.1.2
psycopg2==2.9.9
pycryptodomex==3.19.0
Pygments==2.17.2
PySocks==1.7.1
requests==2.31.0
rich==13.7.0
six==1.16.0
soupsieve==2.5
stem==1.8.2
urllib3==2.1.0
vdf==3.4
wcwidth==0.2.13
